.form-overlay {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background: $white;
	color: $gray;
	font-size: 12px;

	.form-container { padding: 24px; }

	 p { margin: 0 0 18px 0; }

	* { box-sizing: border-box; }
}


.price-container {
	margin-left: -24px;
	margin-right: -24px;

	height: 0;
	overflow-y: hidden;
	transition: all 0.3s ease-in-out;

	&.open {
		height: 200px;
	}

	.price-content {
		background-color: $brand-primary;
		padding: 8px 24px;
		border-top: 4px solid $gray;
		border-bottom: 4px solid $gray;
		color: $brand-primary-inverse;
		font-size: 12px;
	}

	.quote-box {
		margin-top: 10px;
		margin-bottom: 10px;
		padding-top: 12px;
		padding-bottom: 12px;
		border-top: 2px solid $brand-primary-inverse;
		border-bottom: 2px solid $brand-primary-inverse;

		h1 {
			line-height: 1.1;
			letter-spacing: 0.065em;
		}

		.pull-left { width: 145px; }

		.pull-right { width: unquote("calc(100% - 145px)"); }
	}

	h3 {

		+ h3 { padding-top: 3px; }

		span {
			padding-left: 5px;
			padding-right: 5px;

			+ sup { padding-left: 10px; }
		}

		sup + span { padding-right: 0; }
	}
}